$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #e9ecef !default;
$gray-500: #ced4da !default;
$gray-600: #adb5bd !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$red: rgb(191, 53, 83) !default;
$pink: rgb(196, 90, 101) !default;
$blue: rgb(39, 117, 182) !default;
$dark-blue: rgb(19, 72, 87) !default;
$cyan: rgb(147, 181, 207) !default;
$orange: rgb(249, 125, 28) !default;
$yellow: rgb(238, 208, 69) !default;
$green: rgb(43, 174, 133) !default;
$purple: rgb(128, 118, 163) !default;

$primary: $blue !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $dark-blue !default;
$warning: $orange !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

