$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #e9ecef !default;
$gray-500: #ced4da !default;
$gray-600: #adb5bd !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$red: rgb(191, 53, 83) !default;
$pink: rgb(196, 90, 101) !default;
$blue: rgb(39, 117, 182) !default;
$dark-blue: rgb(19, 72, 87) !default;
$cyan: rgb(147, 181, 207) !default;
$orange: rgb(249, 125, 28) !default;
$yellow: rgb(238, 208, 69) !default;
$green: rgb(43, 174, 133) !default;
$purple: rgb(128, 118, 163) !default;

$primary: $blue !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $dark-blue !default;
$warning: $orange !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;


// 字体族(待添加)



// 字体大小
$font-size-base: 1rem !default;
$font-size-lg: $font-size-base * 1.25 !default;
$font-size-sm: $font-size-base * .875 !default;

// 字重
$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;
$font-weight-base: $font-weight-normal !default;


// 行高
$line-height-base: 1.5 !default;
$line-height-lg: 2 !default;
$line-height-sm: 1.25 !default;

// 标题大小
$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;

// 链接
$link-color: $primary !default;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

// body
// ---
$body-bg: $white !default;
$body-color: $gray-900 !default;
$body-text-align: null !default;


